

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 0px 40px;
    text-align: center;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 40pt;
    text-decoration: none;
}

.page-header h2, .page-header h2 a, .page-header h2 a:visited, .page-header h2 a:active {
    color: #ffffff;
    font-size: 25pt;
    text-decoration: none;
    text-align: center;
}

.final-pag {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    text-align: left;
}

.final-pag p {
    color: #000;
    font-size: 8pt;
    text-decoration: none;
}

.menu-superior ul, .menu-superior li {
  padding: 2px 10px;
  list-style-type: none;
  /* visual do link */
  color: #ffffff;
  text-decoration: none;
  text-align: right;
}

.menu-superior li {
    display: inline-block;
    list-style-type: none;
}

.menu ul, .menu li, .menu a {
    padding: 2px 10px;
    list-style-type: none;
    display: inline-block;
    /* visual do link */
    color: #333;
    text-decoration: none;
}

.active {
    border-bottom:3px solid #EDEDED;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Tangerine', cursive;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.artigo {
    margin-bottom: 70px;
}

.topicos h1, h2, h3, h4 {
    font-family: 'Tangerine', cursive;
}

.artigo h1, .artigo h1 a, .artigo h1 a:visited {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20pt;
    font-weight: bold;
    color: #d45500;
}

.artigo h2, .artigo h2 a, .artigo h2 a:visited {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15pt;
    font-weight: bold;
    color: #ff6600;
}

.artigo h3, .artigo h3 a, .artigo h3 a:visited {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: #ff7f2a;
}

.artigo h4, .artigo h4 a, .artigo h4 a:visited {
    font-family: 'Ubuntu', sans-serif;
    font-size: 11pt;
    font-weight: bold;
    color: #000;
}

.artigo p, .artigo p a, .artigo p a:visited {
    font-family: 'Ubuntu', sans-serif;
    font-size: 10pt;
    color: #000;
}

.sidebar {
  float: left;
  width: 200px;
  border: 1px solid #000;
}
