/* CABECALHO */

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    text-align: center;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 40pt;
    text-decoration: none;
}

.page-header h2, .page-header h2 a, .page-header h2 a:visited, .page-header h2 a:active {
    color: #ffffff;
    font-size: 25pt;
    text-decoration: none;
    text-align: center;
}

.final-pag {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    text-align: left;
}

.final-pag p, .final-pag a, .final-pag a:visited {
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-size: 8pt;
    text-decoration: none;
    text-align: center;
}

/* MENU */

.menu-superior ul, .menu-superior li {
  padding: 2px 10px;
  list-style-type: none;
  /* visual do link */
  color: #ffffff;
  text-decoration: none;
  text-align: right;
}

.menu-superior li {
    display: inline-block;
    list-style-type: none;
}

.menu li {
    padding-top: 2px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 25px;
    list-style-type: none;
    display: inline-block;
    /* visual do link */
    color: #333;
    text-decoration: none;
    text-align: center;
    font-family: 'Tangerine', cursive;
}

.active {
    border-bottom:3px solid #ff9400;
}

/* LINHA ALFABETICA */

.lista-horizontal li {
  padding-top: 0px;
  padding-right: 6px;
  padding-bottom: 5px;
  padding-left: 6px;
  list-style-type: none;
  display: inline-block;
  /* visual do link */
  color: #333;
  text-decoration: none;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.lista-horizontal h1, .lista-horizontal h1 a, .lista-horizontal h1 a:visited {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15pt;
  font-weight: bold;
  color: #d45500;
}

.linhas-horizontais {
  border-top: 2px solid #9E9E9E;
  border-bottom: 2px solid #9E9E9E;
}

.content {
  margin-left: 40px;
}

.date {
  float: right;
  color: #828282;
}

.save {
  float: right;
}

.texto-centro{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #d45500;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.texto-centro h1, .texto-centro h2, .texto-centro h3, .texto-centro h4 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 20pt;
}

/* ARTIGO */

.artigo {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.artigo h1, .artigo h1 a, .artigo h1 a:visited {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20pt;
    font-weight: bold;
    color: #d45500;
}

.artigo h2, .artigo h2 a, .artigo h2 a:visited {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15pt;
    font-weight: bold;
    color: #ff6600;
}

.artigo h3, .artigo h3 a, .artigo h3 a:visited {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: #ff7f2a;
}

.artigo h4, .artigo h4 a, .artigo h4 a:visited {
    font-family: 'Ubuntu', sans-serif;
    font-size: 11pt;
    font-weight: bold;
    color: #000;
}

.artigo p, .artigo p a, .artigo p a:visited {
    font-family: 'Ubuntu', sans-serif;
    font-size: 10pt;
    text-align: justify;
    text-justify: inter-word;
    color: #000;
}

.artigo img {
    display: block;
    margin: auto;
}

/* BAARA LATERAL */

.sidebar {
  float: left;
  width: 200px;
  border: 1px solid #000;
  position: fixed;
}

.barra-lateral {
    margin-bottom: 20px;
    background: #fff;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.barra-lateral h1, .barra-lateral h1 a, .barra-lateral h1 a:visited {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15pt;
    font-weight: bold;
    color: #d45500;
}


.barra-lateral h2, .barra-lateral h2 a, .barra-lateral h2 a:visited {
    font-family: 'Ubuntu', sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: #ff6600;
}

.barra-lateral h3, .barra-lateral h3 a, .barra-lateral h3 a:visited {
    font-family: 'Ubuntu', sans-serif;
    font-size: 7pt;
    font-weight: bold;
    color: #ff7f2a;
}

/* FARMACO CARD */
.farmaco-card {
  padding-top: 0px;
  padding-right: 6px;
  padding-bottom: 0px;
  padding-left: 6px;
  font-family: 'Ubuntu', sans-serif;
}

.farmaco-card h1 {
    font-weight: bold;
    font-size: 25pt;
    color: #d45500;
}

.farmaco-card h2 {
    font-size: 15pt;
    color: #000;
}

.farmaco-card h3 {
    display: inline-block;
    font-weight: bold;
    font-size: 10pt;
    color: #878787;
}

.farmaco-card p {
    display: inline-block;
    font-size: 10pt;
    color: #878787;
}

/* BARRA PRINCIPAL */

.nav-justified > li > a:hover,
.nav-justified > li > a:focus {
    background-color: #ff9400;
    border-bottom: 5px solid #fff;
    color: #fff; /*Cor do texto em foco*/
}

.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #fff;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13pt;
  background-color: #ff9400; /* Old browsers */
}

.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  /*background-color: #ddd; Cor do fundo ativo*/
  color: #fff; /*Cor do texto ativo*/
  border-bottom: 5px solid #fff;
}

/* BARRA LATERAL */

.nav-pills > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
  font-weight: bold;
  color: #ff9400;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 7pt;
  background-color: #fff;
  border-bottom: 1px solid #ff9400;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  /*background-color: #ddd; Cor do fundo ativo*/
  color: #ff9400; /*Cor do texto ativo*/
  background-color: #fff;
}

.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
    background-color: #ff9400;
    color: #fff; /*Cor do texto em foco*/
    text-decoration: none;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #ff9400;
}

.nav-pills h1{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
  font-weight: bold;
  color: #fff;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 8pt;
  background-color: #d45500; /* Old browsers */
}

.nav-pills h2 {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #fff;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 8pt;
  background-color: #ff6600; /* Old browsers */
}

.nav-pills h3 {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #fff;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 8pt;
  background-color: #ff7f2a; /* Old browsers */
}
