{% extends 'exercicios_base.html' %}

{% block content %}

<div class="artigo">
  <h1>EXERCÍCIOS DE ELETROCARDIOGRAMA</h1>
  <a class="btn btn-warning" href="{% url 'exercicios_resposta' %}">Ver Respostas</a>

  {% for exercicio in exercicios %}
    {% if exercicio.categoria == "ECG" %}
        <h3>{{ exercicio.nome }}</h3>

      {% if exercicio.exercicio_img %}
        <img src="{{ exercicio.exercicio_img.url }}" width="800" />
      {% endif %}

      {% if exercicio.exercicio_historia %}
        <h4>História</h4>
        <p>{{ exercicio.exercicio_historia }}</p>
      {% endif %}
<!--
      <a class="btn btn-warning" type="submit" value="mostrar_resposta" name="mostrar_resposta">Resposta do Exercicio</a>

      {% if exercicio.exercicio_resposta %}
        {% if mostrar_r == False %}
          <div style="display: none;">
        {% else %}
          <div style="display: block;">
          <h4>Resposta</h4>
          <p>{{ exercicio.exercicio_resposta }}</p>
          </div>
        {% endif %}
      {% endif %}
-->
    {% endif %}
  {% endfor %}

  <a class="btn btn-warning" href="{% url 'exercicios_resposta' %}">Ver Respostas</a>
</div>
{% endblock content %}
