{% extends 'farmacos_base.html' %}

{% block content %}

<!-- CARD DO FARMACO -->
  <div class="linhas-horizontais">
  </div>
  <div class="farmaco-card">
    <h1>{{ farmaco.nome }}</h1>
    {% if farmaco.classe %}
    <h3>Classe:</h3>
    <p>{{ farmaco.classe|linebreaksbr }}</p>
    {% endif %}
  </div>
  <div class="farmaco-card">
    {% if farmaco.subclasse %}
    <h3>Subclasse:</h3>
    <p>{{ farmaco.subclasse|linebreaksbr }}</p>
    {% endif %}
  </div>
  <div class="farmaco-card">
    {% if farmaco.marcas %}
    <h3>Marcas:</h3>
    <p>{{ farmaco.marcas|linebreaksbr }}</p>
    {% endif %}
  </div>
  <div class="linhas-horizontais">
  </div>

<!-- CONTEUDO -->
  <div class="artigo">
    {% if farmaco.farmacodinamica %}
    <h2 id="#farmacodinamica">Farmacodinamica</h2>
    <p>{{ farmaco.farmacodinamica|linebreaksbr }}</p>
    {% endif %}

    {% if farmaco.farmacocinetica %}
    <h2 id="#farmacocinetica">Farmacocinetica</h2>
    <p>{{ farmaco.farmacocinetica|linebreaksbr }}</p>
    {% endif %}

    {% if farmaco.absorcao %}
    <h2 id="absorcao">Absorção</h2>
    <p>{{ farmaco.absorcao|linebreaksbr }}</p>
    {% endif %}

    {% if farmaco.distribuicao %}
    <h2 id="distribuicao">Distribuição</h2>
    <p>{{ farmaco.distribuicao|linebreaksbr }}</p>
    {% endif %}

    {% if farmaco.metabolismo %}
    <h2 id="metabolismo">Metabolismo</h2>
    <p>{{ farmaco.metabolismo|linebreaksbr }}</p>
    {% endif %}

    {% if farmaco.eliminacao %}
    <h2 id="eliminacao">Eliminação</h2>
    <p>{{ farmaco.eliminacao|linebreaksbr }}</p>
    {% endif %}

    {% if farmaco.indicacoes %}
    <h2 id="indicacoes" >Indicações</h2>
    <p>{{ farmaco.indicacoes|linebreaksbr }}</p>
    {% endif %}

    {% if farmaco.posologia %}
    <h2 id="posologia">Posologia</h2>
    <p>{{ farmaco.posologia|linebreaksbr }}</p>
    {% endif %}

    {% if farmaco.pediatria %}
    <h2 id="pediatria">Pediatria</h2>
    <p>{{ farmaco.pediatria|linebreaksbr }}</p>
    {% endif %}

    {% if farmaco.administracao %}
    <h2 id="administracao">Administração</h2>
    <p>{{ farmaco.administracao|linebreaksbr }}</p>
    {% endif %}

    {% if farmaco.rmuitocomum %}
    <h2 id="rmuitocomum">Reações adversas muito comuns</h2>
    <p>{{ farmaco.rmuitocomum|linebreaksbr }}</p>
    {% endif %}

    {% if farmaco.rcomum %}
    <h2 id="rcomum">Reações adversas comuns</h2>
    <p>{{ farmaco.rcomum|linebreaksbr }}</p>
    {% endif %}

    {% if farmaco.rincomum %}
    <h2 id="rincomum">Reações adversas incomuns</h2>
    <p>{{ farmaco.rincomum|linebreaksbr }}</p>
    {% endif %}

    {% if farmaco.rrara %}
    <h2 id="rrara">Reações adversas raras</h2>
    <p>{{ farmaco.rrara|linebreaksbr }}</p>
    {% endif %}

    {% if farmaco.rmuitorara %}
    <h2 id="rmuitorara">Reações adversas muito raras</h2>
    <p>{{ farmaco.rmuitorara|linebreaksbr }}</p>
    {% endif %}

    {% if farmaco.rnaodefinida %}
    <h2 id="rnaodefinida">Reações adversas com frequência não definida</h2>
    <p>{{ farmaco.rnaodefinida|linebreaksbr }}</p>
    {% endif %}
  </div>
{% endblock %}

{% block sidebar %}
<div class="barra-lateral">
  <h1>Tópicos</h1>
  <ul>
    {% if farmaco.farmacodinamica %}
    <li><h2><a href="#farmacodinamica">Farmacodinâmica</a></h2></li>
    {% endif %}
    {% if farmaco.farmacocinetica %}
    <li><h2><a href="#farmacocinetica">Farmacocinética</a></h2></li>
    {% endif %}
    {% if farmaco.absorcao %}
    <li><h2><a href="#absorcao">Absorção</a></h2></li>
    {% endif %}
    {% if farmaco.distribuicao %}
    <li><h2><a href="#distribuicao">Distribuição</a></h2></li>
    {% endif %}
    {% if farmaco.metabolismo %}
    <li><h2><a href="#metabolismo">Metabolismo</a></h2></li>
    {% endif %}
    {% if farmaco.eliminacao %}
    <li><h2><a href="#eliminacao">Eliminação</a></h2></li>
    {% endif %}
    {% if farmaco.indicacoes %}
    <li><h2><a href="#indicacoes">Indicações</a></h2></li>
    {% endif %}
    {% if farmaco.posologia %}
    <li><h2><a href="#posologia">Posologia</a></h2></li>
    {% endif %}
    {% if farmaco.pediatria %}
    <li><h2><a href="#pediatria">Pediatria</a></h2></li>
    {% endif %}
    {% if farmaco.administracao %}
    <li><h2><a href="#administracao">Administração</a></h2></li>
    {% endif %}
    {% if farmaco.rmuitocomum %}
    <li><h2><a href="#rmuitocomum">Reações adversas muito comuns</a></h2></li>
    {% endif %}
    {% if farmaco.rcomum %}
    <li><h2><a href="#rcomum">Reações adversas comuns</a></h2></li>
    {% endif %}
    {% if farmaco.rincomum %}
    <li><h2><a href="#rincomum">Reações adversas incomuns</a></h2></li>
    {% endif %}
    {% if farmaco.rrara %}
    <li><h2><a href="#rrara">Reações adversas raras</a></h2></li>
    {% endif %}
    {% if farmaco.rmuitorara %}
    <li><h2><a href="#rmuitorara">Reações adversas muito raras</a></h2></li>
    {% endif %}
    {% if farmaco.rnaodefinida %}
    <li><h2><a href="#rnaodefinida">Reações adversas com frequência não definida</a></h2></li>
    {% endif %}

</div>
{% endblock %}
