{% load staticfiles %}

<html>
    <head>
      <title>Mairimed</title>
      <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="{% static 'css/artigos.css' %}">
    </head>
    <body>

      <div class="page-header">

        <!-- MENU SUPERIOR
        <nav id="menu-superior" class="menu-superior">
          <ul>
              {% if user.is_authenticated %}
                <li>Olá {{ user.username }}
                  <small>(<a href="{% url 'logout'%}">Sair,</a>
                  <a href="/perfil">Perfil</a>)</small>
                </li>
              {%	else	%}
                <li><a href="/cadastro">Cadastrar-se</a></li>
                <li><a href="{%	url	'login'	%}">Entrar</a></li>
              {% endif %}
          </ul>
        </nav>
        -->

        <h1><a href="/"><img src="{% static 'img/mairimed_logo4.png' %}" /></a></h1>

        <!-- BARRA DE NAVEGACAO -->
        <nav id="menu" class="menu">
          <ul>
            {% url 'inicio' as inicio %}
            {% url 'categorias_artigos' as categorias_artigos %}
            {% url 'lista_farmacos' as lista_farmacos %}
            {% url 'lista_termos' as lista_termos %}
            <li {% if request.path == inicio %} class="active" {% endif %}><h2><a href="{% url 'inicio' %}">ESCS</a></h2></li>
            <li {% if request.path == categorias_artigos %} class="active" {% endif %}><h2><a href="{% url 'categorias_artigos' %}">Resumos de Medicina</a></h2></li>
            <li {% if request.path == lista_farmacos %} class="active" {% endif %}><h2><a href="{% url 'lista_farmacos' %}">Dicionário Farmacêutico</a></h2></li>
            <li {% if request.path == lista_termos %} class="active" {% endif %}><h2><a href="{% url 'lista_termos' %}">Termos Médicos</a></h2></li>
          </ul>
        </nav>

      </div>

      <!-- BARRA LATERAL -->
      <div id="sidebar" class="content container">
            {% block sidebar %}
            {% endblock %}
      </div>

      <!-- CONTEUDO -->
      <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
      </div>

      <!-- BARRA INFERIOR
      <div class="final-pag">
        <p>Aviso: Este site tem um fim meramente informativo e não substitui de forma alguma a consulta a um profissional de saúde, nem quaisquer tratamentos e/ou diagnósticos. Procure sempre o aconselhamento do seu médico ou farmacêutico antes de iniciar ou alterar um tratamento, exercício ou plano alimentar. Alguma informação poderá estar desactualizada. Nenhuma informação do mairimed.com é regulada ou avaliada pelo Infarmed ou pelo Ministério da Saúde, e como tal, não deverá ser utilizada para diagnosticar, curar, tratar ou prevenir qualquer doença sem a supervisão de um profissional de saúde.</p>
      </div>
    -->
    
    </body>
</html>
