{% extends "artigos_base.html" %}
{% load staticfiles%}

{% block content %}

<div class="artigo">
  <h1>Sobre mairimed.com</h1>
  <p>A mairimed.com tem o objetivo de fornecer conteúdo adequado para estudantes e profissionais da área da saúde.</p>
</div>

<div class="artigo">
  <h2>Referências utilizadas no mairimed.com</h2>
  <p>Bacelar, S. et al. Expressões Médicas: Glossário de dúvidas e dificuldades da linguagem médica. Brasília: UnB, 2008.</p>
  <p>Goldman, L.; Schafer, AI. Goldman's Cecil Medicine. 24th ed. Philadelphia: Elsevier Saunders, 2012</p>
  <p>Guimarães, DT. Dicionário de termos médicos e de enfermagem. 1º ed. São Paulo: Rideel, 2002.</p>
  <p>Longo, et al. Harrison's Principles of Internal Medicine. 18th ed. New York: McGraw-Hill, 2017.</p>
  <p>Silva, CRL.; Silva, RCL.; Viana, DL. Compacto Dicionário Ilustrado de Saúde. 2ª ed. São Paulo: Yendis, 2007.</p>

</div>
{% endblock %}

{% block sidebar %}
<nav class="col-sm-2">
</nav>
{% endblock %}
