{% extends "artigos_base.html" %}
{% load staticfiles%}

{% block content %}

<div class="artigo">
  <h1>Termos de Uso</h1>
  <p>Ao usar o conteúdo do mairimed.com você concorda com os nossos termos de uso. Todos os conteúdos presentes neste website são apenas para fins informativos e não devem ser considerados completos ou atualizados. Além disso, não são destinados para serem utilizados como consulta médica, consulta farmacêutica ou consulta relacionada com qualquer outro âmbito profissional.</p>
  <p>Este site tem um fim meramente informativo e não substitui de forma alguma a consulta a um profissional de saúde, nem quaisquer tratamentos e/ou diagnósticos. Procure sempre o aconselhamento do seu médico ou farmacêutico antes de iniciar ou alterar um tratamento, exercício ou plano alimentar. Alguma informação poderá estar desatualizada. Nenhuma informação do mairimed.com é regulada ou avaliada pelo Infarmed ou pelo Ministério da Saúde, e como tal, não deverá ser utilizada para diagnosticar, curar, tratar ou prevenir qualquer doença sem a supervisão de um profissional de saúde.</p>
  <p>Os conteúdos são fornecidos sem qualquer tipo de garantia. Todo e qualquer risco da utilização dos conteúdos é assumido pelo próprio usuário.</p>
</div>
{% endblock %}

{% block sidebar %}
<nav class="col-sm-2">
</nav>
{% endblock %}
