{% extends 'termos_base.html' %}

{% block content %}

<div class="texto-centro">
  <h1>{{ letra }}</h1>
</div>

<div class="artigo">
  <ul>
    {% for termo in termos %}
    <li><h2><a href="{% url 'detalhe_termos' pk=termo.pk %}">{{ termo.nome }}</a></h2></li>
    <p>{{ termo.definicao }}</p>
    {% endfor %}
  </ul>
</div>

<div class="pagination">
    <span class="step-links">
        {% if termos.has_previous %}
            <a href="?{{ page_request_var }}={{ termos.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="current">
            Página {{ termos.number }} de {{ termos.paginator.num_pages }}
        </span>

        {% if termos.has_next %}
            <a href="?{{ page_request_var }}={{ termos.next_page_number }}">próxima</a>
        {% endif %}
    </span>
</div>

{% endblock content %}
