{% extends 'artigos_base.html' %}

{% block content %}
<!-- Especialidades -->
  {% url 'infectologia_artigos' as infectologia_artigos %}
  {% url 'cardiologia_artigos' as cardiologia_artigos %}
  {% url 'endocrinologia_artigos' as endocrinologia_artigos %}
  {% url 'nefrologia_artigos' as nefrologia_artigos %}
  {% url 'pediatria_artigos' as pediatria_artigos %}
  {% url 'pneumologia_artigos' as pneumologia_artigos %}
  {% url 'cirurgia_artigos' as cirurgia_artigos %}
  {% url 'med_emergencia_artigos' as med_emergencia_artigos %}

<!-- ESCS -->
  {% url 'ha_3' as ha_3 %}
  {% url 'ha_4' as ha_4 %}
  {% url '3_serie' as 3_serie %}
  {% url '4_serie' as 4_serie %}

<!-- Especialidades -->

  {% if request.path == infectologia_artigos %}
    <div class="texto-centro">
      <h1>INFECTOLOGIA</h1>
    </div>
    {% for artigo in artigos %}
      {% if artigo.categoria == "INFECTOLOGIA" %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == cardiologia_artigos %}
    <div class="texto-centro">
      <h1>CARDIOLOGIA</h1>
    </div>
    {% for artigo in artigos %}
      {% if artigo.categoria == "CARDIOLOGIA" %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == endocrinologia_artigos %}
    <div class="texto-centro">
      <h1>ENDOCRINOLOGIA</h1>
    </div>
    {% for artigo in artigos %}
      {% if artigo.categoria == "ENDOCRINOLOGIA" %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == nefrologia_artigos %}
    <div class="texto-centro">
      <h1>NEFROLOGIA</h1>
    </div>
    {% for artigo in artigos %}
      {% if artigo.categoria == "NEFROLOGIA" %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == pediatria_artigos %}
    <div class="texto-centro">
      <h1>PEDIATRIA</h1>
    </div>
    {% for artigo in artigos %}
      {% if artigo.categoria == "PEDIATRIA" %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == pneumologia_artigos %}
    <div class="texto-centro">
      <h1>PNEUMOLOGIA</h1>
    </div>
    {% for artigo in artigos %}
      {% if artigo.categoria == "PNEUMOLOGIA" %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == cirurgia_artigos %}
    <div class="texto-centro">
      <h1>CIRURGIA</h1>
    </div>
    {% for artigo in artigos %}
      {% if artigo.categoria == "CIRURGIA" %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == med_emergencia_artigos %}
    <div class="texto-centro">
      <h1>MEDICINA DE EMERGÊNCIA</h1>
    </div>
    {% for artigo in artigos %}
      {% if artigo.categoria == "MEDICINA DE EMERGÊNCIA" %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

<!-- ESCS -->

  {% if request.path == 3_serie %}
    <div class="artigo">
      <h1>3ª Série - MÓDULOS TEMÁTICOS</h1>
      <ul>
        <li><h2><a href="{% url 'M301' %}">M301 - DOR</a></h2></li>
        <li><h2><a href="{% url 'M302' %}">M302 - DOR ABDOMINAL, DIARRÉIA, VÔMITOS E ICTERÍCIA</a></h2></li>
        <li><h2><a href="{% url 'M303' %}">M303 - FEBRE, INFLAMAÇÃO E INFECÇÃO</a></h2></li>
        <li><h2><a href="{% url 'M304' %}">M304 - DOENÇAS RESULTANTES DA AGRESSÃO AO MEIO AMBIENTE</a></h2></li>
        <li><h2><a href="{% url 'M306' %}">M306 - PERDA DE SANGUE</a></h2></li>
        <li><h2><a href="{% url 'M307' %}">M307 - FADIGA, PERDA DE PESO E ANEMIAS</a></h2></li>
      </ul>
    </div>
  {% endif %}

  {% if request.path == ha_3 %}
    <div class="artigo">
      <h1>3ª Série - HABILIDADES E ATITUDES</h1>
      <ul>
        <li><h2><a href="{% url 'ha_ped' %}">PEDIATRIA</a></h2></li>
        <li><h2><a href="{% url 'ha_abdome' %}">CLÍNICA DO ABDOME</a></h2></li>
        <li><h2><a href="{% url 'ha_cm' %}">CLÍNICA MÉDICA</a></h2></li>
        <li><h2><a href="{% url 'ha_neurolocom' %}">APARELHO NEUROLOCOMOTOR</a></h2></li>
      </ul>
    </div>
  {% endif %}

  {% if request.path == 4_serie %}
    <div class="artigo">
      <h1>4ª Série - MÓDULOS TEMÁTICOS</h1>
      <ul>
        <li><h2><a href="{% url 'M401' %}">M401 - TRANSTORNOS MENTAIS E DE COMPORTAMENTO</a></h2></li>
        <li><h2><a href="{% url 'M402' %}">M402 - DISTÚRBIOS SENSORIAIS, MOTORES E DA CONSCIÊNCIA</a></h2></li>
        <li><h2><a href="{% url 'M403' %}">M403 - DISPNÉIA, DOR TORÁCICA E EDEMAS</a></h2></li>
        <li><h2><a href="{% url 'M404' %}">M404 - DESORDENS NUTRICIONAIS E METABÓLICAS</a></h2></li>
        <li><h2><a href="{% url 'M406' %}">M406 - MANIFESTAÇÕES EXTERNAS DAS DOENÇAS E IATROGENIAS</a></h2></li>
        <li><h2><a href="{% url 'M407' %}">M407 - EMERGÊNCIAS</a></h2></li>
      </ul>
    </div>
  {% endif %}

  {% if request.path == ha_4 %}
    <div class="artigo">
      <h1>4ª Série - HABILIDADES E ATITUDES</h1>
      <ul>
        <li><h2><a href="{% url 'ha_ped_emerg' %}">PEDIATRIA EMERGÊNCIA</a></h2></li>
        <li><h2><a href="{% url 'ha_ped_amb' %}">PEDIATRIA AMBULATORIAL</a></h2></li>
        <li><h2><a href="{% url 'ha_cm_emerg' %}">CLÍNICA MÉDICA EMERGÊNCIA</a></h2></li>
        <li><h2><a href="{% url 'ha_cm_amb' %}">CLÍNICA MÉDICA AMBULATORIAL</a></h2></li>
        <li><h2><a href="{% url 'ha_cirurgia' %}">CIRURGIA</a></h2></li>
        <li><h2><a href="{% url 'ha_go' %}">GINECOLOGIA OBSTETRÍCIA</a></h2></li>
      </ul>
    </div>
  {% endif %}

{% endblock content %}

{% block sidebar %}

<!-- Especialidades -->
  {% url 'infectologia_artigos' as infectologia_artigos %}
  {% url 'cardiologia_artigos' as cardiologia_artigos %}
  {% url 'endocrinologia_artigos' as endocrinologia_artigos %}
  {% url 'nefrologia_artigos' as nefrologia_artigos %}
  {% url 'pediatria_artigos' as pediatria_artigos %}
  {% url 'pneumologia_artigos' as pneumologia_artigos %}
  {% url 'cirurgia' as cirurgia %}
  {% url 'med_emergencia_artigos' as med_emergencia_artigos %}

<!-- ESCS -->
  {% url 'ha_3' as ha_3 %}
  {% url 'ha_4' as ha_4 %}
  {% url '3_serie' as 3_serie %}
  {% url '4_serie' as 4_serie %}

<nav class="col-sm-2" style="padding-bottom:20px">
  <ul class="nav nav-pills nav-stacked">
    <li><h1>ESCS</h1></li>
    <li><a href="{% url '3_serie' %}">3ª SÉRIE<br>MÓDULOS TEMÁTICOS</a></li>
    <li><a href="{% url 'ha_3' %}">3ª SÉRIE<br>HABILIDADES E ATITUDES</a></li>
    <li><a href="{% url '4_serie' %}">4ª SÉRIE<br>MÓDULOS TEMÁTICOS</a></li>
    <li><a href="{% url 'ha_4' %}">4ª SÉRIE<br>HABILIDADES E ATITUDES</a></li>

    <li><h1>Especialidades</h1></li>
    <li><a href="{% url 'cardiologia_artigos' %}">CARDIOLOGIA</a></li>
    <li><a href="{% url 'cirurgia_artigos' %}">CIRURGIA</a></li>
    <li><a href="{% url 'endocrinologia_artigos' %}">ENDOCRINOLOGIA</a></li>
    <li><a href="{% url 'infectologia_artigos' %}">INFECTOLOGIA</a></li>
    <li><a href="{% url 'med_emergencia_artigos' %}">MEDICINA DE EMERGÊNCIA</a></li>
    <li><a href="{% url 'nefrologia_artigos' %}">NEFROLOGIA</a></li>
    <li><a href="{% url 'pediatria_artigos' %}">PEDIATRIA</a></li>
    <li><a href="{% url 'pneumologia_artigos' %}">PNEUMOLOGIA</a></li>
  </ul>
</nav>
{% endblock %}
