{% extends 'mairimed/base.html' %}

{% block content %}

  <h1>Resumos de Medicina</h1>

  <div class="artigo">
    <ul>
      <li><h2><a href="{% url 'abdome_artigos' %}">Abdome</a></h2></li>
      <li><h2><a href="{% url 'cardiologia_artigos' %}">Cardiologia</a></h2></li>
      <li><h2><a href="{% url 'endocrinologia_artigos' %}">Endocrinologia</a></h2></li>
      <li><h2><a href="{% url 'nefrologia_artigos' %}">Nefrologia</a></h2></li>
      <li><h2><a href="{% url 'pediatria_artigos' %}">Pediatria</a></h2></li>
      <li><h2><a href="{% url 'pneumologia_artigos' %}">Pneumologia</a></h2></li>
    </ul>
  </div>
{% endblock content %}
