{% extends 'mairimed/base.html' %}

{% block sidebar %}
<div class="barra-lateral">
  <h1>Tópicos</h1>
  <ul>
    {% if artigo.introducao %}
    <li><h2><a href="#intoducao">INTRODUÇÃO</a></h2></li>
    {% endif %}
    {% if artigo.epidemiologia %}
    <li><h2><a href="#epidemiologia">EPIDEMIOLOGIA</a></h2></li>
    {% endif %}
    {% if artigo.classificacao %}
    <li><h2><a href="#classificacao">CLASSIFICAÇÃO</a></h2></li>
    {% endif %}

    <li><h2><a href="#etiologia_fisiopatologia">ETIOLOGIA E FISIOPATOLOGIA</a></h2></li>

    <li><h2>DIAGNÓSTICO</h2></li>
    {% if artigo.historia_clinica %}
    <li><h3><a href="#historia_clinica">HISTÓRIA CLÍNICA</a></h3></li>
    {% endif %}
    {% if artigo.exame_fisico %}
    <li><h3><a href="#exame_fisico">EXAME FÍSICO</a></h3></li>
    {% endif %}

    <li><h3><a href="#exames_complementares">EXAMES COMPLEMENTARES</a></h3></li>

    {% if artigo.criterios_diagnosticos %}
    <li><h3><a href="#criterios_diagnosticos">CRITÉRIOS DIAGNÓSTICOS</a></h3></li>
    {% endif %}
    {% if artigo.diagnostico_diferencial %}
    <li><h3><a href="#diagnostico_diferencial">DIAGNÓSTICO DIFERENCIAL</a></h3></li>
    {% endif %}

    {% if artigo.top1 %}
    <li><h3><a href="#top1">{{ artigo.top1|linebreaksbr }}</a></h3></li>
    {% endif %}

    <li><h2>TRATAMENTO E MANEJO</h2></li>
    {% if artigo.tratamento_nao_medicamentoso %}
    <li><h3><a href="#tratamento_nao_medicamentoso">MEDIDAS GERAIS</a></h3></li>
    {% endif %}
    {% if artigo.tratamento_medicamentoso %}
    <li><h3><a href="#tratamento_medicamentoso">TRATAMENTO FARMACOLÓGICO</a></h3></li>
    {% endif %}
    {% if artigo.tratamento_intervencionista %}
    <li><h3><a href="#tratamento_intervencionista">TRATAMENTO INTERVENCIONISTA</a></h3></li>
    {% endif %}
    {% if artigo.profilaxia %}
    <li><h2><a href="#profilaxia">PROFILAXIA</a></h2></li>
    {% endif %}
    {% if artigo.prognostico %}
    <li><h2><a href="#prognostico">PROGNÓSTICO</a></h2></li>
    {% endif %}
    {% if artigo.complicacoes %}
    <li><h2><a href="#complicacoes">COMPLICAÇÕES</a></h2></li>
    {% endif %}
    {% if artigo.algoritmo_img1 %}
    <li><h2><a href="#algoritmo_img1">ALGORITMO</a></h2></li>
    {% endif %}

  </ul>
</div>
{% endblock %}

{% block content %}
    <div class="artigo">

        <h1>{{ artigo.titulo }}</h1>

        {% if artigo.introducao %}
          <h2 id='introducao'>INTRODUÇÃO</h2>
          <p>{{ artigo.introducao|linebreaksbr }}</p>
        {% endif %}

        {% if artigo.intro_figura %}
          <img src="{{ artigo.intro_figura.url }}" width="800" />
        {% endif %}

        {% if artigo.epidemiologia %}
          <h2 id='epidemiologia'>EPIDEMIOLOGIA</h2>
          <p>{{ artigo.epidemiologia|linebreaksbr }}</p>
        {% endif %}

        {% if artigo.epidemio_figura %}
          <img src="{{ artigo.epidemio_figura.url }}" width="800" />
        {% endif %}

        {% if artigo.classificacao %}
          <h2 id='classificacao'>CLASSIFICAÇÃO</h2>
          <p>{{ artigo.classificacao|linebreaksbr }}</p>
        {% endif %}

        {% if artigo.clas_figura %}
          <img src="{{ artigo.clas_figura.url }}" width="800" />
        {% endif %}

        <!-- ETIOLOGIA E FISIOPATOLOGIA -->

        <h2 id='etiologia_fisiopatologia'>ETIOLOGIA E FISIOPATOLOGIA</h2>
        {% if artigo.etiologia_fisiopatologia %}
          <p>{{ artigo.etiologia_fisiopatologia|linebreaksbr }}</p>
        {% endif %}

        {% if artigo.etio_top1 %}
          <h3>{{ artigo.etio_top1|linebreaksbr }}</h3>
          <p>{{ artigo.etio_texto1|linebreaksbr }}</p>
        {% endif %}

        {% if artigo.etio_top2 %}
          <h3>{{ artigo.etio_top2|linebreaksbr }}</h3>
          <p>{{ artigo.etio_texto2|linebreaksbr }}</p>
        {% endif %}

        {% if artigo.etio_top3 %}
          <h3>{{ artigo.etio_top3|linebreaksbr }}</h3>
          <p>{{ artigo.etio_texto3|linebreaksbr }}</p>
        {% endif %}

        {% if artigo.etio_top4 %}
          <h3>{{ artigo.etio_top4|linebreaksbr }}</h3>
          <p>{{ artigo.etio_texto4|linebreaksbr }}</p>
        {% endif %}

        {% if artigo.etio_top5 %}
          <h3>{{ artigo.etio_top5|linebreaksbr }}</h3>
          <p>{{ artigo.etio_texto5|linebreaksbr }}</p>
        {% endif %}

        {% if artigo.etio_top6 %}
          <h3>{{ artigo.etio_top6|linebreaksbr }}</h3>
          <p>{{ artigo.etio_texto6|linebreaksbr }}</p>
        {% endif %}

        {% if artigo.etio_img1 %}
          <img src="{{ artigo.etio_img1.url }}" width="800" />
        {% endif %}

        {% if artigo.etio_img2 %}
          <img src="{{ artigo.etio_img2.url }}" width="800" />
        {% endif %}

        <!-- DIAGNOSTICO -->

        <h2 id='diagnostico'>DIAGNÓSTICO</h2>
        {% if artigo.diagnostico %}
        <p>{{ artigo.diagnostico|linebreaksbr }}</p>
        {% endif %}

        {% if artigo.historia_clinica %}
          <h3 id='historia_clinica'>HISTÓRIA CLÍNICA</h3>
          <p>{{ artigo.historia_clinica|linebreaksbr }}</p>
        {% endif %}

        {% if artigo.historia_figura %}
          <img src="{{ artigo.historia_figura.url }}" width="800" />
        {% endif %}

        {% if artigo.exame_fisico %}
          <h3 id='exame_fisico'>EXAME FÍSICO</h3>
          <p>{{ artigo.exame_fisico|linebreaksbr }}</p>
        {% endif %}

        <h3 id='exames_complementares'>EXAMES COMPLEMENTARES</h3>
        {% if artigo.exames_complementares %}
          <p>{{ artigo.exames_complementares|linebreaksbr }}</p>
        {% endif %}

        {% if artigo.exames_top1 %}
          <h4>{{ artigo.exames_top1|linebreaksbr }}</h4>
          <p>{{ artigo.exames_texto1|linebreaksbr }}</p>
        {% endif %}

        {% if artigo.exames_top2 %}
          <h4>{{ artigo.exames_top2|linebreaksbr }}</h4>
          <p>{{ artigo.exames_texto2|linebreaksbr }}</p>
        {% endif %}

        {% if artigo.exames_top3 %}
          <h4>{{ artigo.exames_top3|linebreaksbr }}</h4>
          <p>{{ artigo.exames_texto3|linebreaksbr }}</p>
        {% endif %}

        {% if artigo.exames_top4 %}
          <h4>{{ artigo.exames_top4|linebreaksbr }}</h4>
          <p>{{ artigo.exames_texto4|linebreaksbr }}</p>
        {% endif %}

        {% if artigo.exames_top5 %}
          <h4>{{ artigo.exames_top5|linebreaksbr }}</h4>
          <p>{{ artigo.exames_texto5|linebreaksbr }}</p>
        {% endif %}

        {% if artigo.exames_top6 %}
          <h4>{{ artigo.exames_top6|linebreaksbr }}</h4>
          <p>{{ artigo.exames_texto6|linebreaksbr }}</p>
        {% endif %}

        {% if artigo.criterios_diagnosticos %}
          <h3 id='criterios_diagnosticos'>CRITÉRIOS DIAGNÓSTICOS</h3>
          <p>{{ artigo.criterios_diagnosticos|linebreaksbr }}</p>
        {% endif %}

        {% if artigo.diagnostico_diferencial %}
          <h3 id='diagnostico_diferencial'>DIAGNÓSTICO DIFERENCIAL</h3>
          <p>{{ artigo.diagnostico_diferencial|linebreaksbr }}</p>
        {% endif %}

        {% if artigo.diag_figura %}
          <img src="{{ artigo.diag_figura.url }}" width="800" />
        {% endif %}

        <!-- TOPICO ACESSORIO -->

        {% if artigo.top1 %}
          <h2 id='top1'>{{ artigo.top1|linebreaksbr }}</h2>
          <p>{{ artigo.texto1|linebreaksbr }}</p>
          {% if artigo.top1_img1 %}
            <img src="{{ artigo.top1_img1.url }}" width="800" />
          {% endif %}
          {% if artigo.top1_img2 %}
            <img src="{{ artigo.top1_img2.url }}" width="800" />
          {% endif %}
        {% endif %}

        <!-- TRATAMENTO -->

        <h2 id='tratamento_e_manejo'>TRATAMENTO E MANEJO</h2>
        {% if artigo.tratamento_e_manejo %}
          <p>{{ artigo.tratamento_e_manejo|linebreaksbr }}</p>
        {% endif %}

        {% if artigo.tratamento_nao_medicamentoso %}
          <h3 id='tratamento_nao_medicamentoso'>MEDIDAS GERAIS</h3>
          <p>{{ artigo.tratamento_nao_medicamentoso|linebreaksbr }}</p>
        {% endif %}

        <h3 id='tratamento_medicamentoso'>TRATAMENTO FARMACOLÓGICO</h3>
        {% if artigo.tratamento_medicamentoso %}
          <p>{{ artigo.tratamento_medicamentoso|linebreaksbr }}</p>
        {% endif %}

        {% if artigo.med_top1 %}
          <h4>{{ artigo.med_top1|linebreaksbr }}</h4>
          <p>{{ artigo.med_texto1|linebreaksbr }}</p>
        {% endif %}

        {% if artigo.med_top2 %}
          <h4>{{ artigo.med_top2|linebreaksbr }}</h4>
          <p>{{ artigo.med_texto2|linebreaksbr }}</p>
        {% endif %}

        {% if artigo.med_top3 %}
          <h4>{{ artigo.med_top3|linebreaksbr }}</h4>
          <p>{{ artigo.med_texto3|linebreaksbr }}</p>
        {% endif %}

        {% if artigo.med_top4 %}
          <h4>{{ artigo.med_top4|linebreaksbr }}</h4>
          <p>{{ artigo.med_texto4|linebreaksbr }}</p>
        {% endif %}

        {% if artigo.med_top5 %}
          <h4>{{ artigo.med_top5|linebreaksbr }}</h4>
          <p>{{ artigo.med_texto5|linebreaksbr }}</p>
        {% endif %}

        {% if artigo.med_top6 %}
          <h4>{{ artigo.med_top6|linebreaksbr }}</h4>
          <p>{{ artigo.med_texto6|linebreaksbr }}</p>
        {% endif %}

        {% if artigo.tratamento_intervencionista %}
          <h3 id='tratamento_intervencionista'>TRATAMENTO INTERVENCIONISTA</h3>
          <p>{{ artigo.tratamento_intervencionista|linebreaksbr }}</p>
        {% endif %}

        {% if artigo.trat_figura %}
          <img src="{{ artigo.trat_figura.url }}" width="800" />
        {% endif %}

        {% if artigo.profilaxia %}
          <h2 id='profilaxia'>PROFILAXIA</h2>
          <p>{{ artigo.profilaxia|linebreaksbr }}</p>
        {% endif %}

        {% if artigo.prof_figura %}
          <img src="{{ artigo.prof_figura.url }}" width="800" />
        {% endif %}

        {% if artigo.prognostico %}
          <h2 id='prognostico'>PROGNÓSTICO</h2>
          <p>{{ artigo.prognostico|linebreaksbr }}</p>
        {% endif %}

        {% if artigo.complicacoes %}
          <h2 id='complicacoes'>COMPLICAÇÕES</h2>
          <p>{{ artigo.complicacoes|linebreaksbr }}</p>
        {% endif %}

        {% if artigo.algoritmo_img1 %}
          <h2 id='algoritmo_img1'>ALGORITMO</h2>
          {% if artigo.algoritmo_img1 %}
            <img src="{{ artigo.algoritmo_img1.url }}" width="800" />
          {% endif %}

          {% if artigo.algoritmo_img2 %}
            <img src="{{ artigo.algoritmo_img2.url }}" width="800" />
          {% endif %}
        {% endif %}

        {% if artigo.referencias %}
          <h2 id="referencias">REFERÊNCIAS</h2>
          <p>{{ artigo.referencias|linebreaksbr }}</p>
        {% endif %}

        <!-- Favoritos
          {% if artigo in estudante.artigos_favoritos.all %}
            <div class="date">
                <p>Artigo Favorito</p>
                <a type="button">Remover dos Favoritos</a>
            </div>
          {%	else	%}
            <div class="date">
                <p>Artigo Não Favorito</p>
                <a type="button" href="{% url 'favoritos_artigo' pk=artigo.pk %}">Adicionar aos Favoritos</a>
            </div>
          {% endif %}
        -->

    </div>
{% endblock %}
