{% extends 'artigos_base.html' %}

{% block content %}

<!-- 3ª serie - MT -->
  {% url 'M301' as M301 %}
  {% url 'M302' as M302 %}
  {% url 'M303' as M303 %}
  {% url 'M304' as M304 %}
  {% url 'M306' as M306 %}
  {% url 'M307' as M307 %}
<!-- 3ª serie - HA -->
  {% url 'ha_ped' as ha_ped %}
  {% url 'ha_abdome' as ha_abdome %}
  {% url 'ha_cm' as ha_cm %}
  {% url 'ha_neurolocom' as ha_neurolocom %}
<!-- 4ª serie - MT -->
  {% url 'M401' as M401 %}
  {% url 'M402' as M402 %}
  {% url 'M403' as M403 %}
  {% url 'M404' as M404 %}
  {% url 'M406' as M406 %}
  {% url 'M407' as M407 %}
<!-- 4ª serie - HA -->
  {% url 'ha_ped_emerg' as ha_ped_emerg %}
  {% url 'ha_ped_amb' as ha_ped_amb %}
  {% url 'ha_cm_emerg' as ha_cm_emerg %}
  {% url 'ha_cm_amb' as ha_cm_amb %}
  {% url 'ha_cirurgia' as ha_cirurgia %}
  {% url 'ha_go' as ha_go %}


<!-- 3ª serie - MT -->
  {% if request.path == M301 %}
    <div class="texto-centro">
      <h1>M301 - DOR</h1>
    </div>
    {% for artigo in artigos %}
      {% if "M301" in artigo.modulo %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == M302 %}
    <div class="texto-centro">
      <h1>M302 - DOR ABDOMINAL, DIARRÉIA, VÔMITOS E ICTERÍCIA</h1>
    </div>
    {% for artigo in artigos %}
      {% if "M302" in artigo.modulo %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == M303 %}
    <div class="texto-centro">
      <h1>M303 - FEBRE, INFLAMAÇÃO E INFECÇÃO</h1>
    </div>
    {% for artigo in artigos %}
      {% if "M303" in artigo.modulo %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == M304 %}
    <div class="texto-centro">
      <h1>M304 - DOENÇAS RESULTANTES DA AGRESSÃO AO MEIO AMBIENTE</h1>
    </div>
    {% for artigo in artigos %}
      {% if "M304" in artigo.modulo %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == M306 %}
    <div class="texto-centro">
      <h1>M306 - PERDA DE SANGUE</h1>
    </div>
    {% for artigo in artigos %}
      {% if "M306" in artigo.modulo %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == M307 %}
    <div class="texto-centro">
      <h1>M307 - FADIGA, PERDA DE PESO E ANEMIAS</h1>
    </div>
    {% for artigo in artigos %}
      {% if "M307" in artigo.modulo %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

<!-- 3ª serie - HA -->
  {% if request.path == ha_ped %}
    <div class="texto-centro">
      <h1>PEDIATRIA</h1>
    </div>
    {% for artigo in artigos %}
      {% if "ha_ped" in artigo.modulo %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == ha_abdome %}
    <div class="texto-centro">
      <h1>CLÍNICA DO ABDOME</h1>
    </div>
    {% for artigo in artigos %}
      {% if "ha_abdome" in artigo.modulo %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == ha_cm %}
    <div class="texto-centro">
      <h1>CLÍNICA MÉDICA</h1>
    </div>
    {% for artigo in artigos %}
      {% if "ha_cm" in artigo.modulo %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == ha_neurolocom %}
    <div class="texto-centro">
      <h1>APARELHO NEUROLOCOMOTOR</h1>
    </div>
    {% for artigo in artigos %}
      {% if "ha_neurolocom" in artigo.modulo %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

<!-- 4ª serie - MT -->

  {% if request.path == M401 %}
    <div class="texto-centro">
      <h1>M401 - TRANSTORNOS MENTAIS E DE COMPORTAMENTO</h1>
    </div>
    {% for artigo in artigos %}
      {% if "M401" in artigo.modulo %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == M402 %}
    <div class="texto-centro">
      <h1>M402 - DISTÚRBIOS SENSORIAIS, MOTORES E DA CONSCIÊNCIA</h1>
    </div>
    {% for artigo in artigos %}
      {% if "M402" in artigo.modulo %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == M403 %}
    <div class="texto-centro">
      <h1>M403 - DISPNÉIA, DOR TORÁCICA E EDEMAS</h1>
    </div>
    {% for artigo in artigos %}
      {% if "M403" in artigo.modulo %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == M404 %}
    <div class="texto-centro">
      <h1>M404 - DESORDENS NUTRICIONAIS E METABÓLICAS</h1>
    </div>
    {% for artigo in artigos %}
      {% if "M404" in artigo.modulo %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == M406 %}
    <div class="texto-centro">
      <h1>M406 - MANIFESTAÇÕES EXTERNAS DAS DOENÇAS E IATROGENIAS</h1>
    </div>
    {% for artigo in artigos %}
      {% if "M406" in artigo.modulo %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == M407 %}
    <div class="texto-centro">
      <h1>M407 - EMERGÊNCIAS</h1>
    </div>
    {% for artigo in artigos %}
      {% if "M407" in artigo.modulo %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

<!-- 4ª serie - HA -->
  {% if request.path == ha_ped_emerg %}
    <div class="texto-centro">
      <h1>PEDIATRIA EMERGÊNCIA</h1>
    </div>
    {% for artigo in artigos %}
      {% if "ha_ped_emerg" in artigo.modulo %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == ha_ped_amb %}
    <div class="texto-centro">
      <h1>PEDIATRIA AMBULATORIAL</h1>
    </div>
    {% for artigo in artigos %}
      {% if "ha_ped_amb" in artigo.modulo %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == ha_cm_emerg %}
    <div class="texto-centro">
      <h1>CLÍNICA MÉDICA EMERGÊNCIA</h1>
    </div>
    {% for artigo in artigos %}
      {% if "ha_cm_emerg" in artigo.modulo %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == ha_cm_amb %}
    <div class="texto-centro">
      <h1>CLÍNICA MÉDICA AMBULATORIAL</h1>
    </div>
    {% for artigo in artigos %}
      {% if "ha_cm_amb" in artigo.modulo %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == ha_cirurgia %}
    <div class="texto-centro">
      <h1>CIRURGIA</h1>
    </div>
    {% for artigo in artigos %}
      {% if "ha_cirurgia" in artigo.modulo %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == ha_go %}
    <div class="texto-centro">
      <h1>GINECOLOGIA OBSTETRÍCIA</h1>
    </div>
    {% for artigo in artigos %}
      {% if "ha_go" in artigo.modulo %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

{% endblock content %}

{% block sidebar %}
<nav class="col-sm-2" style="padding-bottom:20px">
  <ul class="nav nav-pills nav-stacked">
    <li><h1>ESCS</h1></li>
    <li><a href="{% url '3_serie' %}">3ª SÉRIE<br>MÓDULOS TEMÁTICOS</a></li>
    <li><a href="{% url 'ha_3' %}">3ª SÉRIE<br>HABILIDADES E ATITUDES</a></li>
    <li><a href="{% url '4_serie' %}">4ª SÉRIE<br>MÓDULOS TEMÁTICOS</a></li>
    <li><a href="{% url 'ha_4' %}">4ª SÉRIE<br>HABILIDADES E ATITUDES</a></li>

    <li><h1>Especialidades</h1></li>
    <li><a href="{% url 'cardiologia_artigos' %}">CARDIOLOGIA</a></li>
    <li><a href="{% url 'cirurgia_artigos' %}">CIRURGIA</a></li>
    <li><a href="{% url 'endocrinologia_artigos' %}">ENDOCRINOLOGIA</a></li>
    <li><a href="{% url 'infectologia_artigos' %}">INFECTOLOGIA</a></li>
    <li><a href="{% url 'med_emergencia_artigos' %}">MEDICINA DE EMERGÊNCIA</a></li>
    <li><a href="{% url 'nefrologia_artigos' %}">NEFROLOGIA</a></li>
    <li><a href="{% url 'pediatria_artigos' %}">PEDIATRIA</a></li>
    <li><a href="{% url 'pneumologia_artigos' %}">PNEUMOLOGIA</a></li>
  </ul>
</nav>
{% endblock %}
