{% extends "mairimed/base.html" %}

{% block content %}

	<div class="artigo">
		<h1>4ª Série</h1>
		<ul>
			<li><h2><a href="{% url 'M401' %}">M401 - TRANSTORNOS MENTAIS E DE COMPORTAMENTO</a></h2></li>
			<li><h2><a href="{% url 'M402' %}">M402 - DISTÚRBIOS SENSORIAIS, MOTORES E DA CONSCIÊNCIA</a></h2></li>
			<li><h2><a href="{% url 'M403' %}">M403 - DISPNÉIA, DOR TORÁCICA E EDEMAS</a></h2></li>
			<li><h2><a href="{% url 'M404' %}">M404 - DESORDENS NUTRICIONAIS E METABÓLICAS</a></h2></li>
			<li><h2><a href="{% url 'M406' %}">M406 - MANIFESTAÇÕES EXTERNAS DAS DOENÇAS E IATROGENIAS</a></h2></li>
			<li><h2><a href="{% url 'M407' %}">M407 - EMERGÊNCIAS</a></h2></li>
		</ul>
	</div>

{% endblock %}
